.fill button {
  color: black;
}

.header-input {
  background-image: url('../../assets/images/lupa.png');
  background-repeat: no-repeat;
  padding-left: 40px;
  background-color: rgb(70, 68, 68);
  border: 0;
  color: #00000000;
  background-position: 10px;
  border-radius: 12px;
}